<div class="galleryFrame">
  <div class="titleBox">
    <div class="textContainer">
      <h1 class="galleryTitle"><%= t('.header') %></h1>
      <p class="galleryDescr"><%= t('.content') %></p>
      <%= link_to 'mailto:infomlikemarket@yahoo.com', target:'_blank' do %>
        <div class="buttonHomepage gallery mt-4">
          <p><%= t('.button') %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="galleryPicture">
    <img src="<%= asset_url('galleryBanner.jpg') %>" alt="">
  </div>
</div>
