<%= render 'components/banner' %>
<div class="container">
  <%= render 'components/introDiv' %>
</div>
<hr>
<div class="virtualBotiques">
  <div class="container">
    <h2>Welcome to our Virtual Botiques</h2>
  </div>
  <!-- Darling of the Week Card to go here -->
  <div class="cardContainer">
    <div class="cards">
      <% Brand.all.each do |brand|  %>
        <%= link_to brand_path(brand) do %>
           <div class="storeCard">
             <div class="cardCover">
              <%= cl_image_tag brand.photos[0].key %>
             </div>
             <div class="cardInfo">
              <h2><%= brand.name %></h2>
              <p><%= brand.slogan %></p>
             </div>
           </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
