<%= render 'components/banner' %>
<div class="container">
  <%= render 'components/introDiv' %>
</div>
<hr class="homeSeperator">
<div class="virtualBotiques">
  <div class="container">
    <h2>Welcome to our Virtual Botiques</h2>
  </div>
  <!-- Darling of the Week Card to go here -->
  <% @favourite = Brand.where("status = 'fav'").first %>
  <%= link_to brand_path(@favourite) do %>
    <div class="darlingCard" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(<%= cl_image_path @favourite.cardcover.key %>);">
      <div class="brandSide">
        <h2>Darling of the Week:</h2>
        <!-- logo as png -->
        <p class="sombLogo">SOMBREROS LTD.</p>
        <p><%= @favourite.slogan %></p>
      </div>
      <div class="compliment">
        <% unless @favourite.compliment.nil? %>
          <p><%= @favourite.compliment %></p>
        <% else %>
          <br>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="cardContainer">
    <div class="brandCards">
      <% Brand.all.where("status = 'normal'").each do |brand|  %>
        <%= link_to brand_path(brand) do %>
           <%= render('components/brandCard', brand: brand) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'components/gallery' %>
<%= render 'components/generalFooter' %>
