<%= render 'components/banner' %>
<div class="container">
  <%= render 'components/introDiv' %>
</div>
<hr>
<div class="virtualBotiques">
  <div class="container">
    <h2>Welcome to our Virtual Botiques</h2>
  </div>
  <!-- Darling of the Week Card to go here -->
  <% @favourite = Brand.where("status = 'fav'") %>
  <%= link_to brand_path(@favourite) %>
    <div class="darlingCard" style="background-image: url(<%= cl_image_path @favorite.photo.key %>);">
      <div class="brandSide">

      </div>
      <div class="compliment">

      </div>
    </div>
  <% end %>
  <div class="cardContainer">
    <div class="cards">
      <% Brand.all.where("status = 'normal'").each do |brand|  %>
        <%= link_to brand_path(brand) do %>
           <%= render('components/brandCard'), brand: brand %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
