<%= render "components/brandNavbar" %>
<div class="brandBanner">
  <div class="bannerText">
    <h1 class="brandHeader"><%= @brand.name %></h1>
    <p class="brandSlogan"><%= @brand.slogan %></p>
  </div>
</div>
<div class="brandContainer">
  <h2 class="favProductsHeader">Check out some of our favourites!</h2>
  <div class="favProductCards">
    <% @products.each do |product| %>
      <% cat = product.category %>
      <%= link_to brand_category_product_path(@brand, cat, product), data: { turbolinks: false } do %>
        <%= render 'components/favProductCard', product: product %>
      <% end %>
    <% end %>
  </div>
  <%= render 'components/sideNav-left' %>
  <%= render 'components/sideNav-right' %>
</div>
<%= render "components/brand-footer" %>
