<%= render "components/brandNavbar" %>
<div class="productIndexContainer">
  <div class="nav-path">
    <%= link_to "#{@brand.name}", brand_path(@brand) %>
    <p> - <%= @cat.name %></p>
  </div>
  <div class="productIndexCards">
    <% @products.each do |prod| %>
      <%= link_to brand_category_product_path(@brand, @cat, prod), data: { turbolinks: false } do %>
        <%= render "components/productIndexCard", product: prod %>
      <% end %>
    <% end %>
  </div>
</div>
