<%= render "components/brandNavbar" %>
<%= render "components/sideNav-right-prod" %>
<div class="productContainer">
  <div class="nav-path">
    <%= link_to "#{@brand.name}", brand_path(@brand) %>
    <p> - </p>
    <%= link_to "#{@product.category.name}", brand_category_products_path(@brand, @cat) %>
    <p> - <%= @product.name %></p>
  </div>
  <div class="row">
    <div class="col-lg-7 thumbnail-carousel" id="product" data-category="<%= @product.category.id %>">
      <div class="thumbnails">
        <!-- make array where first is dropped and do below - first element same but apply active class-->
        <% @product.photos.each do |photo| %>
          <img class="thumbnail" src="<%= cl_image_path photo.key %>" alt="">
        <% end %>
      </div>
    </div>
  </div>
</div>
