<%= render "components/brandNavbar" %>
<%= render "components/sideNav-right-prod" %>
<%= render "components/sideNav-left-prod" %>
<div class="productContainer">
  <div class="nav-path">
    <%= link_to "#{@brand.name}", brand_path(@brand) %>
    <p> - </p>
    <%= link_to "#{@product.category.name}", brand_category_products_path(@brand, @cat) %>
    <p> - <%= @product.name %></p>
  </div>
  <div class="row">
    <div class="col-lg-7 thumbnail-carousel" id="product" data-category="<%= @product.category.id %>">
      <div class="thumbnails">
        <!-- make array where first is dropped and do below - first element same but apply active class-->
        <% @product.photos.each do |photo| %>
          <img class="thumbnail" src="<%= cl_image_path photo.key %>" alt="">
        <% end %>
      </div>
      <div class="big-picture">
        <div id="productShowCarousel" class="carousel slide carousel-fade" data-ride="carousel">
          <div class="carousel-inner">
            <% first_photo = @product.photos.first %>
            <div class="carousel-item active">
                <img src="<%= cl_image_path first_photo.key %>" class="d-block w-100" alt="...">
            </div>
            <% @product.photos.drop(1).each do |photo| %>
              <div class="carousel-item">
                <img src="<%= cl_image_path photo.key %>" class="d-block w-100" alt="...">
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 product-info">
      <div class="productInfo-container">
        <h2 class="product-title"><%= @product.name %></h2>
        <p class="product-price"><%= @product.price.round %>€</p>
        <div class="utilityBtn">
          <img class="label icon-logo" src="<%= asset_url('heart.svg') %>" alt="">
        </div>
        <%= link_to "#" do %>
          <div class="addToBasketBtn">
            <p class="label">ADD TO BASKET</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
